<div class="container">
  <h3>Page with contacts</h3>
  <input type="text" [value]="myString" class="form-control">
  <input *ngIf="id" type="text" [value]="id">
  <br>
  <div *ngIf="person">
    <input [(ngModel)]="person.name">
    <p>{{person.name}}</p>
    <button (click)="fireGrowEvent($event)">Click me full</button>
  </div>
</div>
