<ul>
  <li *ngFor="let link of links">
    <a (click)="sayHi()" [ngClass]="link.class" [routerLink]="link.route">{{link.name | uppercase}}</a>
    <br>
  </li>
</ul>

<button mat-raised-button color="accent" (click)="getAllUsers()">Get all users</button>
<br>
<br>
