<div class="container">
  <br>
  <h4><mark>Автомобиль:</mark> {{name}}
    <small>{{model}}</small></h4>
  <div class="alert alert-success">
    Характеристики автомобиля:
    <ul>
      <li>Скорость: <strong>{{speed}} км</strong></li>
    </ul>
  </div>

  <h5>Edit car</h5>
  <button class="btn btn-danger" (click)="showEdit()">Edit</button>
  <form *ngIf="isEdit">
    <div class="form-group">
      <input type="text" placeholder="Speed" class="form-control" [(ngModel)]="speed" name="speed">
      <br>
    </div>
  </form>

  <h5>Opportunities</h5>
  <div class="alert alert-warning">
    <ul>
      <li *ngFor="let opt of options; let i = index">
        {{opt}}
        <button class="btn btn-warning btn-sm" (click)="deleteOption(i)">x</button>
      </li>
    </ul>
  </div>

  <form (submit)="addOption(option.value)">
    <div class="form-group">
      <label for="option">Add new opportunity</label>
      <input type="text" id="option" placeholder="Input something" class="form-control" #option>
      <br>
      <button type="submit" class="btn btn-outline-success">ADD</button>
    </div>
  </form>

  <h5>Выберите автомобиль</h5>
  <button class="btn btn-danger" (click)="bmwSelect('bmw')">BMW</button>
  <button class="btn btn-success">Mercedes</button>
  <button class="btn btn-info">Audi</button>

  <br>
  <br>
  <div class="import">
    <span>from other component</span>
    <app-contacts [person]="person" (Grow)="grow($event)"></app-contacts>
  </div>
</div>


